<div class="header">
  <div class="headerName">
    <p>GyanBlog</p>
  </div>
  <div>
    <ul>
      <li>
        <a aria-current="page" href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</div>
